@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

body,
html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background: #282a2c;
    width: 100%;
    display: grid;
    grid-template-columns: auto;

    div#bg {
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%);
        background-color: #43474b;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2em;
    @include desktop{
        font-size: 5em;
    }
}

p {
    font-family: 'Questrial', sans-serif;
    font-size: 1em;
    @include desktop{
        font-size: 1.5em;
    }
}

.container{
    display: grid;
    grid-template-columns: 55% 30%;
}

.content {
    margin: 60% 10px 0px 15%;
    color: #fff;
    @include desktop{
        margin: 10% 10px 0px 15%;
    }
}

svg {
    width: 200px;
    align-self: center;
    justify-self: center;
    margin-left: 45%;
    @include desktop{
        width: 300px;
    }
}

svg #Logo {
    animation-duration: 1.2s;
    animation-name: animateLogo;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    mix-blend-mode: overlay;
}


@keyframes animateLogo {
    from{
        transform: translateX(0) translateY(0);
        opacity: 0;
    }
    to{
        transform: translateX(25px) translateY(-23px);
        opacity: 1;
    }
}



/* svg colors */

.st0 {
    fill: #EBEBEB;
}

.st1 {
    fill: #456B85;
}

.st2 {
    fill: #7ABDEB;
}

/* .st3{enable-background:new    ;} */
.st4 {
    fill: #476F8A;
}

.st5 {
    fill: #5483A3;
}

.st6 {
    fill: #527F9E;
}

.st7 {
    fill: #4F7B99;
}

.st8 {
    fill: #4D7794;
}

.st9 {
    fill: #4A738F;
}

.st10 {
    fill: #A3A3A3;
}